<a href="https://colab.research.google.com/github/kamipakistan/Data-Science-with-Python/blob/main/02_Pandas/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas**

In [1]:
# importing libraries
import pandas as pd
import numpy as np

How to create series in pandas

# **Create a series from list**

In [2]:
string = "abcdefgh"
firstSeries = pd.Series(list(string))

In [3]:
firstSeries

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
dtype: object

# **How to create a series form ndarray**

In [4]:
# Creating a list of countries name
southAsianCountries = "Afghanistan, Bangladesh, Bhutan, India, Iran, Maldives, Nepal, Pakistan, Sri Lanka".split(",")
southAsianCountries

['Afghanistan',
 ' Bangladesh',
 ' Bhutan',
 ' India',
 ' Iran',
 ' Maldives',
 ' Nepal',
 ' Pakistan',
 ' Sri Lanka']

In [5]:
# convert it into array
# ndarray of countries
countryNamesArray = np.array(southAsianCountries)
countryNamesArray

array(['Afghanistan', ' Bangladesh', ' Bhutan', ' India', ' Iran',
       ' Maldives', ' Nepal', ' Pakistan', ' Sri Lanka'], dtype='<U11')

In [6]:
# convert array into series
# pass ndarray as argument to series
pd.Series(countryNamesArray)

0    Afghanistan
1     Bangladesh
2         Bhutan
3          India
4           Iran
5       Maldives
6          Nepal
7       Pakistan
8      Sri Lanka
dtype: object

# **Create series from dict**

In [7]:
# Top countries GDP per Capita

GDP = """1	Qatar	$128,647	$61,264	752%
2	Macao	$115,367	$80,890	675%
3	Luxembourg	$107,641	$105,280	629%
4	Singapore	$94,105	$56,746	550%
5	Brunei	$79,003	$28,572	462%
6	Ireland	$76,745	$69,727	449%
7	United Arab Emirates	$74,035	$40,325	433%
8	Kuwait	$72,096	$29,616	422%
9	Switzerland	$66,307	$80,296	388%
10	San Marino	$63,549	$48,495	372%
11	Norway	$62,183	$75,428	364%
12	Hong Kong	$61,671	$46,733	361%
13	United States	$59,928	$59,939	350%
14	Iceland	$55,322	$73,233	324%
15	Netherlands	$54,422	$48,796	318%
16	Denmark	$54,356	$57,545	318%
17	Saudi Arabia	$53,893	$20,747	315%
18	Austria	$53,879	$47,261	315%""".splitlines()

In [8]:
GDP

['1\tQatar\t$128,647\t$61,264\t752%',
 '2\tMacao\t$115,367\t$80,890\t675%',
 '3\tLuxembourg\t$107,641\t$105,280\t629%',
 '4\tSingapore\t$94,105\t$56,746\t550%',
 '5\tBrunei\t$79,003\t$28,572\t462%',
 '6\tIreland\t$76,745\t$69,727\t449%',
 '7\tUnited Arab Emirates\t$74,035\t$40,325\t433%',
 '8\tKuwait\t$72,096\t$29,616\t422%',
 '9\tSwitzerland\t$66,307\t$80,296\t388%',
 '10\tSan Marino\t$63,549\t$48,495\t372%',
 '11\tNorway\t$62,183\t$75,428\t364%',
 '12\tHong Kong\t$61,671\t$46,733\t361%',
 '13\tUnited States\t$59,928\t$59,939\t350%',
 '14\tIceland\t$55,322\t$73,233\t324%',
 '15\tNetherlands\t$54,422\t$48,796\t318%',
 '16\tDenmark\t$54,356\t$57,545\t318%',
 '17\tSaudi Arabia\t$53,893\t$20,747\t315%',
 '18\tAustria\t$53,879\t$47,261\t315%']

In [9]:
import re
# Extracting country's name from the string
countryNames = [line.split("\t")[1] for line in GDP]

#	Country	GDP (PPP) per capita (2017)
gdp = [re.sub("[^0-9]","" , line.split("\t")[2]) for line in GDP]

print(countryNames)
print(gdp)

['Qatar', 'Macao', 'Luxembourg', 'Singapore', 'Brunei', 'Ireland', 'United Arab Emirates', 'Kuwait', 'Switzerland', 'San Marino', 'Norway', 'Hong Kong', 'United States', 'Iceland', 'Netherlands', 'Denmark', 'Saudi Arabia', 'Austria']
['128647', '115367', '107641', '94105', '79003', '76745', '74035', '72096', '66307', '63549', '62183', '61671', '59928', '55322', '54422', '54356', '53893', '53879']

In [10]:
# Creating series 
countryGDP = pd.Series(gdp, index=countryNames)
countryGDP

Qatar                   128647
Macao                   115367
Luxembourg              107641
Singapore                94105
Brunei                   79003
Ireland                  76745
United Arab Emirates     74035
Kuwait                   72096
Switzerland              66307
San Marino               63549
Norway                   62183
Hong Kong                61671
United States            59928
Iceland                  55322
Netherlands              54422
Denmark                  54356
Saudi Arabia             53893
Austria                  53879
dtype: object

# **Creating Series from a scaler**

In [11]:
scaler = pd.Series(5., index = "a,b,c,d,e,f".split(","))
scaler

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
dtype: float64

 # **Accessing Elements in a Series**

In [12]:
# access element in a series
scaler[0]

5.0

In [13]:
# access first five countries from countryGDP
countryGDP[:5]

Qatar         128647
Macao         115367
Luxembourg    107641
Singapore      94105
Brunei         79003
dtype: object

In [14]:
# access  by name or index
countryGDP.loc["Qatar"]

'128647'

In [15]:
# access by index
countryGDP.iloc[1]

'115367'

# **Vectorized Operations in a Series**

In [16]:
# creating two series
first = pd.Series([33, 44, 55, 66], index = ["a b c d".split()])
second = pd.Series([1, 2, 3, 4], index = ["a b c d".split()])

In [17]:
# add the above's 2 series
first+second

a    34
b    46
c    58
d    70
dtype: int64

In [18]:
# and if we change the order of the index, it will add the same index elements
second = pd.Series([1, 2, 3, 4], index = ["d c b a".split()])

In [19]:
# add the series
first+second

a    37
b    47
c    57
d    67
dtype: int64

In [20]:
# And if we want to add the elemets of some index and it is not with in the 2nd series it will assign Nan
second = pd.Series([1, 2, 3, 4, 7], index = ["d c e f g".split()])

In [21]:
# add the series
first+second

a     NaN
b     NaN
c    57.0
d    67.0
e     NaN
f     NaN
g     NaN
dtype: float64