<a href="https://colab.research.google.com/github/kamipakistan/Data-Science-with-Python/blob/main/02_Pandas/02_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas DataFrame**
**DataFrame** id a two dimensional labeled data structure with columns of potentiallly different data types.

In [1]:
import pandas as pd

## **Method 1**
**Use the "pandas.Dataframe" class's default Constructor to create a DataFrame from a Dictionary.**

In [3]:
# create Dataframe from dict of equal length lists
# first four PMs of Pakistan
pmsPak = {"Name":["Mr. Liaqat Ali Khan", "Khawaja Nazimuddin", "Mr. Mohammad Ali Bogra", "Ch. Mohammed Ali"], 
          "From": ["15-08-1947", "17-10-1951", "17-04-1953", "11-08-1955"], 
          "To": ["16-10-1951", "17-04-1953", "11-08-1955", "12-09-1956"]}
pmsPak

{'Name': ['Mr. Liaqat Ali Khan',
  'Khawaja Nazimuddin',
  'Mr. Mohammad Ali Bogra',
  'Ch. Mohammed Ali'],
 'From': ['15-08-1947', '17-10-1951', '17-04-1953', '11-08-1955'],
 'To': ['16-10-1951', '17-04-1953', '11-08-1955', '12-09-1956']}

In [5]:
pmsPakD = pd.DataFrame(pmsPak)
pmsPakD

                     Name        From          To
0     Mr. Liaqat Ali Khan  15-08-1947  16-10-1951
1      Khawaja Nazimuddin  17-10-1951  17-04-1953
2  Mr. Mohammad Ali Bogra  17-04-1953  11-08-1955
3        Ch. Mohammed Ali  11-08-1955  12-09-1956

##**Method 2**
**Construct a DataFrame from a Dictionary using custom indexes.**

In [7]:
pd.DataFrame(pmsPak, index = ["a", "b", "c", "d"])

                     Name        From          To
a     Mr. Liaqat Ali Khan  15-08-1947  16-10-1951
b      Khawaja Nazimuddin  17-10-1951  17-04-1953
c  Mr. Mohammad Ali Bogra  17-04-1953  11-08-1955
d        Ch. Mohammed Ali  11-08-1955  12-09-1956

## **Method 3**
**Create a DataFrame using a simple dictionary, that is, a dictionary with a key and a straightforward value, such as an integer or string value.**

In [10]:
data = {"kamran":25, 
        "Imran":27}

dict_items([('kamran', 25), ('Imran', 27)])

In [12]:
pd.DataFrame(data.items())

        0   1
0  kamran  25
1   Imran  27

## **Method 4**
**Construct a DataFrame from a Dictionary using only the necessary columns.**

In [13]:
pd.DataFrame(pmsPak, columns = ["Name"])

                     Name
0     Mr. Liaqat Ali Khan
1      Khawaja Nazimuddin
2  Mr. Mohammad Ali Bogra
3        Ch. Mohammed Ali

##  **Method 5**
i'll include it.....